<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.collbow.vagrant</string>
    <key>ProgramArguments</key>
    <array>
        <string>sh</string>
        <string>[SCRIPT_DIR]/com.collbow.vagrant.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>ExitTimeOut</key>
    <integer>60</integer>
    <key>WorkingDirectory</key>
    <string>[SCRIPT_DIR]</string>
  </dict>
</plist>